
GroupName: Enabled_20250131
Title: HLS Demuxer Lifetime

Root => Playbacks/Media.HLS.MultivariantPlaylist/Total
Playbacks => InitError/Media.HLS.InitializationError/Total
Playbacks => InitOK/!/%
InitError => &/Media.HLS.InitializationError/*
InitOK => PlaybackError/Media.HLS.PlaybackError/Total
InitOK => PlaybackOK/!/%
PlaybackError => &/!/*


& = group name comes from columns[2...]
! = same histogram on rhs as lhs
% = value is all the leftovers
* = columns[2...]
